---
import type { GetStaticPaths } from "astro";
import { Picture } from "astro:assets";
import { getCollection } from "astro:content";

import Layout from "../../../layouts/layout.astro";
import { filterDraft } from "../../../utils/filter-draft";

export const getStaticPaths = (async () => {
  const blogPosts = await getCollection("blog-posts", filterDraft);
  return blogPosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={`Blog. ${post.data.title}`}>
  <h1>{post.data.title}</h1>
  <p><em>{post.data.description}</em></p>
  <p>Published on: {post.data.pubDate}</p>
  <Picture
    src={post.data.hero.image}
    formats={["avif", "webp"]}
    width="300"
    alt={post.data.hero.alt}
  />
  <Content />
</Layout>
