---
import Layout from "../layouts/Layout.astro";

const me = {
  firstName: "Dmitrii",
  lastName: "Kirshanov",
  country: "Armenia",
  passions: ["AR/VR", "music", "coffee"].reduce(
    (res, passion, i, passions) =>
      res + (i === passions.length - 1 ? ` and ${passion}` : `, ${passion}`),
  ),
  skills: ["JavaScript", "TypeScript", "CSS", "HTML"],
};

const shouldRenderWarning = Math.random() > 0.5;

const skillItemColor = "darkblue";
---

<Layout title="Kirshanov Dmitrii. Home.">
  <main>
    <h1>Hello, World!</h1>
    <h2>My name's {me.firstName} {me.lastName}</h2>
    <p>I live in {me.country} and I develop stuff</p>
    <p>
      I'm passionate about {me.passions}
    </p>
    <p>
      Some of my skills are:
      <ul>
        {me.skills.map((skill) => <li class="skill-item">{skill}</li>)}
      </ul>
    </p>
    {
      shouldRenderWarning && (
        <p>
          This site is under construction. Also, this is a random warning that
          shows 50% of the time.
        </p>
      )
    }
  </main>
</Layout>

<style define:vars={{ skillItemColor }}>
  .skill-item {
    color: var(--skillItemColor);
  }
</style>
