---
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title={`Blog. ${frontmatter.title}`}>
  <h1>{frontmatter.title}</h1>
  <p><em>{frontmatter.description}</em></p>
  <p>Published on: {frontmatter.pubDate}</p>
  <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
  <slot />
</Layout>
